.dropdown-container {
	position: relative;
	width: 100%;
}

.dropdown-list {
	position: absolute;
	width: 100%;
	background: var(--pico-form-element-background-color);
	border: 1px solid var(--pico-form-element-border-color);
	color: var(--pico-form-element-color);
	border-top: none;
	max-height: 300px;
	overflow-y: auto;
	display: none;
}

.dropdown-list div {
	padding: 0.5rem;
	cursor: pointer;
}

.dropdown-list div:hover,
.dropdown-list .active {
	background: var(--pico-form-element-selected-background-color);
}

#ticker-search-box-form {
	max-width: 600px;
}

.center-child {
	display: flex;
	justify-content: center;
	width: 100%;
}

.htmx-indicator {
	visibility: hidden;
}

.htmx-request .htmx-indicator {
	visibility: visible;
}

.htmx-request.htmx-indicator {
	visibility: visible;
}

.delete-row-button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 5px;
	display: inline-flex;
	align-items: center;
}

.delete-row-button svg {
	width: 40px;
	height: 40px;
	fill: var(--pico-form-element-invalid-border-color);
	transition: fill 0.3s ease-in-out;
}

.delete-row-button svg:hover {
	fill: var(--pico-form-element-invalid-active-border-color) !important;
}

.summary-popup>article {
	max-width: 1000px;
}
